@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 h-full overflow-x-hidden
}

#__next{
    @apply h-full
}

html{
    @apply h-full
}

/* input:required:invalid{ color: red; border-color: red; box-shadow: 0 0 6px red;}
input:required:valid,
input:required:placeholder-shown{ border-color: green; box-shadow: 0 0 8px green;} */

.auth_input:not(:placeholder-shown) ~ .auth_label{
    /* scale: 75%; */
    scale: 80%;
    transform:translateY(-15px);
}

.auth_input:placeholder-shown ~ .auth_label{
    scale: 100%;
    transform:translateY(0);
}
.auth_input:focus ~ .auth_label{
    scale: 80%;
    transform:translateY(-15px);
}
::-ms-reveal {
    filter: invert(100%);
}

